h1 {
	font-family: 'VT323', monospace;
	font-size: 100px;
	-webkit-animation-duration: 10s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
}

button {
	-webkit-animation-duration: 10s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
}
.desaparecer {
	display: none;
}
.aparecer {
	display: block;
}

.pd {
	padding: 3.5rem 0 4.5rem 0;
}

.mg {
	margin-top: 3.5rem;
}
 td {
 	border: 2px solid black;
 	padding: 50px;
 }
/*
.square {
	border-width: 2px;
	border-color: black;
}
.top-left {	
	border-left: solid;
}
.top-center {

}
.top-right {

}
.middle-left {

}
.middle-center
.middle-right
.bottom-left
.bottom-center
.bottom-right
*/